{# Define nav vars #}
{% set navSection = 'headerNav' %}
{% set navElement = '__item' %}
{% set subNavBlock = 'headerSubNav' %}
{% set levelPrefix = '--level' %}

{# Set the section based on the navSection var above #}
{% set headerNavEntries = craft.entries.section(navSection).all() ?? null %}

{% if headerNavEntries %}
    <nav>
        <ul class="{{ navSection }}">
            {% nav entry in headerNavEntries %}
            
                <li class="{{ navSection ~ navElement }}">
                    <a href="{{ entry.navLink[0].getUrl() }}" class="{{ navSection }}__itemLink">{{ entry.title }}</a>
                    {# Check for children #}
                    {% ifchildren %}
                    
                        {% set navLevel = entry.level ?? null %}
                        {# Combine levelPrefix string with current entry.level #}
                        {% set modName = levelPrefix ~ navLevel %}

                        {# Set BEM level classes #}
                        <div class="{{ subNavBlock }}{% if navLevel > 0 %} {{subNavBlock ~ modName }}{% endif %}">
                            {# Additional wrapper #}
                            <div class="{{ subNavBlock }}__wrap">
                                {# Elements #}
                                <ul class="{{ navSection }}{% if navLevel > 0 %} {{navSection ~ modName }}{% endif %}">
                                    {% children %}
                                </ul>
                                {# / Elements #}
                            </div>
                        </div>
                        
                    {% endifchildren %}
                    
                </li>
                
            {% endnav %}
        </ul>
    </nav>
{% endif %}
